/*******************
google font added
********************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    font-family: 'Poppins',
    sans-serif;
}

/********* banner part ***********/

.banner{
    background-color: #2D25A0;
    display: flex;
    Width: 1440px;
    Height: 677px;
}


.banner-title{
    font-weight: 700;
    font-size: 64px;
    color: #FFFFFF;
    margin: 198px 108px 38px 204px ;
    width: 485px;
    height: 228px;

}

.banner-img img{
    width: 556.01px;
    height: 438px;
    margin: 153px 140.99px 86px 0;
}

.button{
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
}

.button-banner{
    margin: 38px 0 169px 156px;

}

.button-link{
    width: 88px;
    height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.button-link-span{
    margin: 0 8px;
}

/********banner part end*******/


/*******************
players content part
********************/

.players-display{
    width: 1440px;
    background-color: #FFFFFF;
}

.players-box{
    margin: 70px 210px 165px 180px ;
    
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 330px;
    height: 474px;
}

.player-details{
    padding: 15px 15px 15px 15px;
}

.player-details img{
    width: 300px;
    height: 256px;
}


/******** Match Contents Part *******/
.match{
    display: flex;
}

.match-info{
    margin: 224px 69px 0 180px;
}

.match img{
    width: 567px;
    height: 427px;
    margin: 165px 156px 0 69px;
}

/**********Extra Part********/

/* ***extra part: 01*** */

.extra-items{
    margin-top: 100px;
}

.extra-info{
    display: flex;
    background-color: #2D25A0;
    width: 1440px;
    height: 300px;
}

.extra-title{
    margin: 20px 0 10px 180px;
}
.extra-heading{
    font-size: 32px;
    color: #FFFFFF;
}
.extra-img{
    margin: 70px;
}

/* ***extra part:02*** */

.news-heading{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin: 100px 0 20px 0;
}

.news-channels{
    display: flex;
    margin-left: 110px;
}

.img-channel{
    width: 300px ;
    height: 250px;
}

.goal-img{
    box-shadow: 0 0 100px #0a063a;
}

.espn-img{
    box-shadow: 0 0 100px #b10917;
}

.bbc-img{
    box-shadow: 0 0 100px #e7c00f;
}

.button-extra{
    margin-left: 60px;
}